


<!-- Main -->
<div id="main">
<div class="cl">&nbsp;</div>

<!-- Content -->
<div id="content">

<!-- Box -->
<div class="box">
<!-- Box Head -->
<div class="box-head">
<h2 class="left">Current Articles</h2>
<div class="right">
	<label>search articles</label>
	<input type="text" class="field small-field" />
	<input type="submit" class="button" value="search" />
</div>
</div>
<!-- End Box Head -->	

<!-- Table -->
<div class="table">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	
	<tr>
		
		<th>Title</th>
		<th>Imagem</th>		
		<th width="110" class="ac">Content Control</th>
	</tr>
	<% @galleries.each do |g| %>
	
	<tr class="odd">
		
		<td><h3><%= link_to admin_gallery_path(g) do %>
			<%= g.nome %>
<% end %>
		</h3></td>
		<td>
		<a href="<%= image_path g.foto.url %>" rel="lightbox[roadtrip]" title="<%= g.nome%> "> 
		    <%= image_tag g.foto.url(:thumb), :size => "40x30"  %></a>

		
		<td>

			
			
      <%= link_to  admin_gallery_path(g), :class => "ico del", confirm: 'Deletar arquivo, Tem certeza ?', method: :delete , :title => "Excluir arquivo" do %>
          Delete
      <% end %>
      <%= link_to edit_admin_gallery_path(g), :class => "ico edit" do %>
         
	     Editar

         
      <% end %>
		</td>
	</tr>
	<% end %>
	
</table>

<!-- Pagging -->
<div class="pagging">
	
	
		
		 <%= will_paginate @galleries %>
	
</div>
<!-- End Pagging -->

</div>
<!-- Table -->

</div>
<!-- End Box -->

</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">

<!-- Box -->
<div class="box">

<!-- Box Head -->
<div class="box-head">
<h2>Management</h2>
</div>
<!-- End Box Head-->

<div class="box-content">
<%= link_to new_admin_gallery_path, :class =>"add-button" do %>
	<span>Nova Imagem</span>
<% end %>

<div class="cl">&nbsp;</div>

</div>
</div>
<!-- End Box -->
</div>
<!-- End Sidebar -->

<div class="cl">&nbsp;</div>			
</div>
<!-- Main -->
