<!-- content body -->
<div id="content">
	<section id="comments">

		<h2>Contatos</h2>

		<%= form_for(@contact) do |f| %>
		<% if @contact.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

			<ul>
				<% @contact.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="field">
			<%= f.label :nome %>
			<br />
			<%= f.text_field :nome %>
		</div>
		<div class="field">
			<%= f.label :email %>
			<br />
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :assunto %>
			<br />
			<%= f.text_field :assunto %>
		</div>
		<div class="field">
			<%= f.label :data_contato %>
			<br />
			<%= f.datetime_select :data_contato %>
		</div>
		<div class="field">

			<%= f.label :conteudo %>
			<br />
			<%= f.text_area :conteudo %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
		<% end %>

	</section>

</div>
<!-- right column -->
<aside id="right_column">
	<h2>Menu de Navegação</h2>
	<nav>

		<!-- partial do submenu -->

		<%= render :partial => "layouts/submenu" %>
		<!-- fechar partial do submenu -->

	</nav>
	<!-- /nav -->
	<section>
		<h2>Outros Contatos</h2>
		<address>
			Av. Deputado Caetano Guedes
			<br>
			2366, Cacimba do Povo
			<br>
			
			Aracati/CE
			<br>
			CEP: 62800-000
			<br>
			<br>
			Tel: 88 3421 1471
			<br>
			Email: <a href="">contato@joceliogondim.com.br</a>
		</address>
	</section>
	<!-- /section -->

</aside>
<!-- / content body -->

