<!DOCTYPE html>
<html>
<head>
<title>Jocelio Gondim</title>

<%= stylesheet_link_tag  "admin/admin", :media => "all" %>

<%= javascript_include_tag "admin/admin" %>

<%= csrf_meta_tags %>



</head>

<body>

<!-- Header -->
<div id="header">
<%= render :partial => "admin/pages/menu" %>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		
	<%= flash_messages %>
<%= yield %>
</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
<div class="shell">
<span class="left">&copy; 2012 - Jocélio Gondim</span>
<span class="right">
Design by <a href="http://www.eboxbrasil.com.br" target="_blank" title="The Sweetest CSS Templates WorldWide">eboxbrasil.com.br</a>
</span>
</div>
</div>
<!-- End Footer -->


</body>


</html>
