<!DOCTYPE html>
<html>
<head>
<title>Jocelio Gondim</title>

<%= stylesheet_link_tag  "application", :media => "all" %>

<%= javascript_include_tag "application" %>
 <%= favicon_link_tag 'favicon_atual.ico' %>

<!-- Add fancyBox main JS and CSS files -->

<!-- ligghtbox-->

<!-- verificação do ggogle -->
<meta name="google-site-verification" content="7f4pZX7fENYbYNu04J93HPXRwAcTHu0_jtKEWVYZSLo" />

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-11357390-4']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

<!-- verificação do ggogle -->

<!--facebook -->


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!--facebook -->

<%= csrf_meta_tags %>


</head>

<body>
<div class="wrapper row1">
<header id="header" class="clear">
<hgroup>
	<a href="/home"><img src="../images/demo/joc_banner4.jpg" width="270px" height="60px"   alt="banner" /></a>

</hgroup>
<form action="#" method="post">
	<fieldset>
		<legend>
			Search:
		</legend>
		<input type="text" value="Search Our Website&hellip;" onFocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;">
		<input type="submit" id="sf_submit" value="submit">
	</fieldset>

</form>
</header>
</div>
<div class="wrapper row2">
<!-- chama render partial para navegação do site topo-->

<%= render :partial => "layouts/menu"%>

<!-- fecha navegação do site topo-->
</div>
<!-- content -->
<div class="wrapper row3">

<div id="container" class="clear">
<!-- Slider -->
<section id="featured_slide_">
	
	<ul id="featured_slide_Content">
		<li class="featured_slide_Image">
			<figure>
				<a href="#"><img src="../images/demo/joc_banner_5.jpg" width="940px" hegth="340px" alt="banner" /></a>
				<figcaption>
					<h2>Trabalhar para o Aracati crescer</h2>

				</figcaption>
			</figure>
		</li>
		<li class="featured_slide_Image">
			<figure>
				<a href="#"><img src="../images/demo/banner2.jpg" width="940px" hegth="340px" alt="" /></a>
				<figcaption>
					<h2>Junto com essa dupla o Aracati vai crescer</h2>

				</figcaption>
			</figure>
		</li>
		<li class="featured_slide_Image">
			<figure>
				<a href="#"><img src="../images/demo/joc_banner_5.jpg"  width="940px" hegth="340px" alt="banner" /></a>
				<figcaption>
					<h2>Trabalhar para o Aracati crescer</h2>

				</figcaption>
			</figure>
		</li>
		<li class="featured_slide_Image">
			<figure>
				<a href="#"><img src="../images/demo/banner2.jpg" width="940px" hegth="340px" alt="" /></a>
				<figcaption>
					<h2>Junto com essa dupla o Aracati vai crescer</h2>

				</figcaption>
			</figure>
		</li>
		<li class="clear featured_slide_Image">
			<!-- Important - Leave This Empty -->

		</li>
	</ul>
	
</section>

<!-- main content -->
<div id="homepage">
	<!-- conteudo dimanico -->


	
<%= flash_messages %>


	<%= yield %>

	<!-- conteudo dimanico -->

</div>
<!-- / content body -->
</div>
</div>
<!-- Footer -->
<div class="wrapper row4">
<!-- / partial footer-->
<%= render :partial => "layouts/footer" %>

<!-- /fecha partial footer-->

</div>
<!-- Copyright -->
<div class="wrapper row5">
<footer id="copyright" class="clear">
<p class="fl_left">
	Copyright &copy; 2012 - All Rights Reserved - <a href="/home">Domain Jocélio Gondim - CNPJ: 016.020.641/0001-48 </a>
</p>
<p class="fl_right">
	Template by <a href="http://www.os-templates.com/" target="blank" title="Free Website Templates">OS Templates</a>
</p>

</footer>
</div>
</body>

</html>
